/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
/* Google font 2 */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

:root {
  --primary: #fff;
  --secondary: #2c3036;
  --dark__black: #000;
  --unique: #64ffda;
}

* {
  color: var(--primary);
  background-color: var(--secondary);
}

/* * Hide scrollbar for Chrome Browswer Firefox */

html::-webkit-scrollbar {
  display: none;
}

/* * Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--dark__black);
  background: var(--primary);
}

::selection {
  color: var(--dark__black);
  background: var(--primary);
}

h1 {
  font-family: 'Zen Dots', cursive;
}

h4 {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
}

p {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
}

p > a {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  color: var(--primary);
  text-decoration: none;
  margin-left: 6px;
}

p > a:hover {
  color: var(--unique);
}

span {
  color: var(--unique);
}

.custom__button {
  border: 1px solid var(--primary);
  text-align: center;
  padding: 0.5rem 1rem;
}
